@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
  background: linear-gradient(225deg, hsla(54, 100%, 84%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);
  height: 100vh;
  font-family: "IBM Plex Mono", monospace;
}

h1{
  font-weight: 400;
  font-size: 32px;
}

.title{
  width: 100vw;
  text-align: center;
}

.form{
  display: flex;
  justify-content: center;
}

input{
  margin: 15px;
}
.error{
  color: red;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
}

td{
  width: 60px;
  height: 60px;
  text-align: center;
}

.array{
  padding: 2vw;
  margin: auto;
} 

.array tbody tr td:nth-child(1){
  border: none;
  padding-right: 15px;

}

.array tbody tr:nth-child(2) td{
  border: none;
}

.array tbody tr td{
  border-collapse: collapse;
  border: solid;
}

button{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
  border-width: 1px;
  cursor: pointer;
}

button:active,
button:focus {
  background-color: #3A81EA; 
  color: white;
  /* Change background color when clicked or focused */
}

.go{
  background-color: #75d4e7; 
  color: black;
}
